.bodyWrapper {
  width: 100vw;
  height: 100vh;
  color: white;
  background: black;
  overflow: hidden;
}

.topBar {
  background: #121212;
  width: 100vw;
  height: 50px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  p {
    padding-left: 20px;
  }
}

.bottomBar {
  background: #121212;
  width: 100vw;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  font-size: 0.7em;
  justify-content: space-evenly;
  align-items: center;

  p {
    margin: 10px;
  }
}

.timelineBar {
  border-top: 2px solid #565656;
  height: 0;
  position: relative;
}
.timelineRange {
  border-top: 2px solid white;
  height: 0;
  position: absolute;
  top: -2px;
}

.timelineEvent {
  width: 2px;
  border-top: 2px solid yellow;
  height: 0;
  position: absolute;
  top: -2px;
}

.controlWrapper {
  width: 100vw;
  height: 80px;
  position: absolute;
  bottom: 10vh;
  background: blue;
  display: flex;
  .horizontalSlider {
    position: absolute;
    right: 0;
    background: red;
    z-index: 100;
    display: flex;
    width: 30vw;

    // .thumb {
    //   cursor: pointer;
    //   position: absolute;
    //   z-index: 100;
    //   background: black;
    //   border: 5px solid #3774ff;
    //   display: block;
    //   margin-top: -15px;
    //   padding: 4px;
    // }
    // .thumb.active {
    //   background-color: grey;
    // }
    // .track {
    //   background: white;
    //   height: 3px;
    // }
  }
}

.daysWrapperScroll {
}
.daysWrapper {
}
