.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina"),
    url(./media/fonts/NeueMachina-Regular.otf) format("opentype");
}
/* 
@font-face {
  font-family: "Neue Machina";
  font-weight: 700;
  src: local("Neue Machina"),
    url(./media/fonts/NeueMachina-Black.otf) format("opentype");
} */

@font-face {
  font-family: "Neue Montreal";
  src: local("Neue Montreal"),
    url(./media/fonts/NeueMontreal-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Monument Extended";
  src: local("Monument Extended"),
    url(./media/fonts/MonumentExtended-Regular.otf) format("opentype");
}
